In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
dataset = pd.read_csv("Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [2]:
import keras

Using TensorFlow backend.

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [5]:
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)
X=pd.concat([X,geography,gender],axis=1)
X=X.drop(['Geography','Gender'],axis=1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
CreditScore        10000 non-null int64
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Germany            10000 non-null uint8
Spain              10000 non-null uint8
Male               10000 non-null uint8
dtypes: float64(2), int64(6), uint8(3)
memory usage: 654.4 KB

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [10]:
X_train.shape

(8000, 11)

In [11]:
classifier = Sequential()

WARNING: Logging before flag parsing goes to stderr.
W0904 18:23:59.500265 11280 deprecation_wrapper.py:119] From C:\Users\AAYUSH AGARWAL\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [12]:
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation='relu',input_dim = 11))
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation='relu'))
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

W0904 18:23:59.823568 11280 deprecation_wrapper.py:119] From C:\Users\AAYUSH AGARWAL\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0904 18:23:59.896522 11280 deprecation_wrapper.py:119] From C:\Users\AAYUSH AGARWAL\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [13]:
classifier.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [14]:
classifier.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

W0904 18:24:00.054667 11280 deprecation_wrapper.py:119] From C:\Users\AAYUSH AGARWAL\Anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0904 18:24:00.082229 11280 deprecation_wrapper.py:119] From C:\Users\AAYUSH AGARWAL\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

W0904 18:24:00.086230 11280 deprecation.py:323] From C:\Users\AAYUSH AGARWAL\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [15]:
model_history=classifier.fit(X_train, y_train,validation_split=0.33, batch_size = 10, epochs = 100)

W0904 18:24:00.570824 11280 deprecation_wrapper.py:119] From C:\Users\AAYUSH AGARWAL\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 2s 322us/step - loss: 0.5487 - acc: 0.7778 - val_loss: 0.4906 - val_acc: 0.7929
Epoch 2/100
5359/5359 [==============================] - 1s 104us/step - loss: 0.4674 - acc: 0.7990 - val_loss: 0.4533 - val_acc: 0.7963
Epoch 3/100
5359/5359 [==============================] - 1s 105us/step - loss: 0.4442 - acc: 0.8044 - val_loss: 0.4413 - val_acc: 0.7974
Epoch 4/100
5359/5359 [==============================] - 1s 106us/step - loss: 0.4358 - acc: 0.8059 - val_loss: 0.4364 - val_acc: 0.8012
Epoch 5/100
5359/5359 [==============================] - 1s 104us/step - loss: 0.4314 - acc: 0.8095 - val_loss: 0.4338 - val_acc: 0.8042
Epoch 6/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.4277 - acc: 0.8100 - val_loss: 0.4320 - val_acc: 0.8099
Epoch 7/100
5359/5359 [==============================] - 1s 98us/step - loss: 0.4243 - acc: 0.8112 - val_loss: 0.4300 - val_acc: 0.8076
Epoch 8/100
5359/5359 [==============================] - 1s 98us/step - loss: 0.4223 - acc: 0.8138 - val_loss: 0.4281 - val_acc: 0.8099
Epoch 9/100
5359/5359 [==============================] - 1s 97us/step - loss: 0.4196 - acc: 0.8153 - val_loss: 0.4270 - val_acc: 0.8099
Epoch 10/100
5359/5359 [==============================] - 1s 94us/step - loss: 0.4167 - acc: 0.8192 - val_loss: 0.4249 - val_acc: 0.8171
Epoch 11/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.4135 - acc: 0.8222 - val_loss: 0.4232 - val_acc: 0.8175
Epoch 12/100
5359/5359 [==============================] - 1s 97us/step - loss: 0.4105 - acc: 0.8266 - val_loss: 0.4195 - val_acc: 0.8190
Epoch 13/100
5359/5359 [==============================] - 1s 98us/step - loss: 0.4075 - acc: 0.8283 - val_loss: 0.4174 - val_acc: 0.8220
Epoch 14/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.4051 - acc: 0.8326 - val_loss: 0.4158 - val_acc: 0.8220
Epoch 15/100
5359/5359 [==============================] - 1s 98us/step - loss: 0.4035 - acc: 0.8302 - val_loss: 0.4141 - val_acc: 0.8232
Epoch 16/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.4016 - acc: 0.8339 - val_loss: 0.4136 - val_acc: 0.8224
Epoch 17/100
5359/5359 [==============================] - 1s 105us/step - loss: 0.4006 - acc: 0.8336 - val_loss: 0.4121 - val_acc: 0.8247
Epoch 18/100
5359/5359 [==============================] - 1s 104us/step - loss: 0.3993 - acc: 0.8356 - val_loss: 0.4110 - val_acc: 0.8270
Epoch 19/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3982 - acc: 0.8364 - val_loss: 0.4112 - val_acc: 0.8273
Epoch 20/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3970 - acc: 0.8360 - val_loss: 0.4101 - val_acc: 0.8281
Epoch 21/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3959 - acc: 0.8365 - val_loss: 0.4101 - val_acc: 0.8285
Epoch 22/100
5359/5359 [==============================] - 1s 105us/step - loss: 0.3948 - acc: 0.8373 - val_loss: 0.4095 - val_acc: 0.8300
Epoch 23/100
5359/5359 [==============================] - 1s 104us/step - loss: 0.3943 - acc: 0.8371 - val_loss: 0.4094 - val_acc: 0.8273
Epoch 24/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3934 - acc: 0.8371 - val_loss: 0.4096 - val_acc: 0.8300
Epoch 25/100
5359/5359 [==============================] - 1s 100us/step - loss: 0.3932 - acc: 0.8371 - val_loss: 0.4084 - val_acc: 0.8277
Epoch 26/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3926 - acc: 0.8371 - val_loss: 0.4082 - val_acc: 0.8292
Epoch 27/100
5359/5359 [==============================] - 1s 105us/step - loss: 0.3922 - acc: 0.8384 - val_loss: 0.4078 - val_acc: 0.8285
Epoch 28/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3914 - acc: 0.8401 - val_loss: 0.4082 - val_acc: 0.8292
Epoch 29/100
5359/5359 [==============================] - 1s 100us/step - loss: 0.3912 - acc: 0.8388 - val_loss: 0.4073 - val_acc: 0.8296
Epoch 30/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3905 - acc: 0.8391 - val_loss: 0.4073 - val_acc: 0.8292
Epoch 31/100
5359/5359 [==============================] - 1s 98us/step - loss: 0.3904 - acc: 0.8390 - val_loss: 0.4071 - val_acc: 0.8277
Epoch 32/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3895 - acc: 0.8384 - val_loss: 0.4081 - val_acc: 0.8292
Epoch 33/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3893 - acc: 0.8390 - val_loss: 0.4067 - val_acc: 0.8300
Epoch 34/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3889 - acc: 0.8397 - val_loss: 0.4060 - val_acc: 0.8307
Epoch 35/100
5359/5359 [==============================] - 1s 104us/step - loss: 0.3876 - acc: 0.8390 - val_loss: 0.4064 - val_acc: 0.8300
Epoch 36/100
5359/5359 [==============================] - 1s 105us/step - loss: 0.3874 - acc: 0.8399 - val_loss: 0.4058 - val_acc: 0.8296
Epoch 37/100
5359/5359 [==============================] - 1s 100us/step - loss: 0.3876 - acc: 0.8410 - val_loss: 0.4061 - val_acc: 0.8307
Epoch 38/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3868 - acc: 0.8395 - val_loss: 0.4042 - val_acc: 0.8330
Epoch 39/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3865 - acc: 0.8408 - val_loss: 0.4041 - val_acc: 0.8319
Epoch 40/100
5359/5359 [==============================] - 1s 106us/step - loss: 0.3861 - acc: 0.8403 - val_loss: 0.4038 - val_acc: 0.8319
Epoch 41/100
5359/5359 [==============================] - 1s 97us/step - loss: 0.3858 - acc: 0.8390 - val_loss: 0.4041 - val_acc: 0.8304
Epoch 42/100
5359/5359 [==============================] - 1s 106us/step - loss: 0.3850 - acc: 0.8382 - val_loss: 0.4029 - val_acc: 0.8311
Epoch 43/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3846 - acc: 0.8399 - val_loss: 0.4024 - val_acc: 0.8326
Epoch 44/100
5359/5359 [==============================] - 1s 106us/step - loss: 0.3846 - acc: 0.8382 - val_loss: 0.4015 - val_acc: 0.8342
Epoch 45/100
5359/5359 [==============================] - 1s 96us/step - loss: 0.3832 - acc: 0.8399 - val_loss: 0.4017 - val_acc: 0.8326
Epoch 46/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3825 - acc: 0.8373 - val_loss: 0.4008 - val_acc: 0.8326
Epoch 47/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3816 - acc: 0.8397 - val_loss: 0.3997 - val_acc: 0.8323
Epoch 48/100
5359/5359 [==============================] - 1s 100us/step - loss: 0.3807 - acc: 0.8399 - val_loss: 0.4015 - val_acc: 0.8323
Epoch 49/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3797 - acc: 0.8403 - val_loss: 0.3972 - val_acc: 0.8334
Epoch 50/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3782 - acc: 0.8397 - val_loss: 0.3946 - val_acc: 0.8323
Epoch 51/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3774 - acc: 0.8403 - val_loss: 0.3932 - val_acc: 0.8334
Epoch 52/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3759 - acc: 0.8408 - val_loss: 0.3902 - val_acc: 0.8334
Epoch 53/100
5359/5359 [==============================] - 1s 96us/step - loss: 0.3741 - acc: 0.8449 - val_loss: 0.3876 - val_acc: 0.8338
Epoch 54/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3720 - acc: 0.8459 - val_loss: 0.3864 - val_acc: 0.8357
Epoch 55/100
5359/5359 [==============================] - 1s 96us/step - loss: 0.3707 - acc: 0.8461 - val_loss: 0.3837 - val_acc: 0.8402
Epoch 56/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3679 - acc: 0.8500 - val_loss: 0.3836 - val_acc: 0.8387
Epoch 57/100
5359/5359 [==============================] - 1s 100us/step - loss: 0.3668 - acc: 0.8485 - val_loss: 0.3804 - val_acc: 0.8429
Epoch 58/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3647 - acc: 0.8505 - val_loss: 0.3776 - val_acc: 0.8440
Epoch 59/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3617 - acc: 0.8509 - val_loss: 0.3792 - val_acc: 0.8459
Epoch 60/100

5359/5359 [==============================] - 1s 98us/step - loss: 0.3596 - acc: 0.8505 - val_loss: 0.3733 - val_acc: 0.8425
Epoch 61/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3569 - acc: 0.8505 - val_loss: 0.3718 - val_acc: 0.8440
Epoch 62/100
5359/5359 [==============================] - 1s 100us/step - loss: 0.3534 - acc: 0.8545 - val_loss: 0.3704 - val_acc: 0.8425
Epoch 63/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3511 - acc: 0.8561 - val_loss: 0.3684 - val_acc: 0.8436
Epoch 64/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3492 - acc: 0.8569 - val_loss: 0.3662 - val_acc: 0.8466
Epoch 65/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3461 - acc: 0.8595 - val_loss: 0.3654 - val_acc: 0.8417
Epoch 66/100
5359/5359 [==============================] - 1s 96us/step - loss: 0.3443 - acc: 0.8606 - val_loss: 0.3639 - val_acc: 0.8421
Epoch 67/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3421 - acc: 0.8593 - val_loss: 0.3629 - val_acc: 0.8478
Epoch 68/100
5359/5359 [==============================] - 1s 98us/step - loss: 0.3409 - acc: 0.8615 - val_loss: 0.3628 - val_acc: 0.8444
Epoch 69/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3392 - acc: 0.8623 - val_loss: 0.3623 - val_acc: 0.8466
Epoch 70/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3363 - acc: 0.8619 - val_loss: 0.3629 - val_acc: 0.8436
Epoch 71/100
5359/5359 [==============================] - 1s 96us/step - loss: 0.3359 - acc: 0.8606 - val_loss: 0.3609 - val_acc: 0.8485
Epoch 72/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3352 - acc: 0.8656 - val_loss: 0.3608 - val_acc: 0.8470
Epoch 73/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3339 - acc: 0.8651 - val_loss: 0.3593 - val_acc: 0.8501
Epoch 74/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3341 - acc: 0.8658 - val_loss: 0.3587 - val_acc: 0.8508
Epoch 75/100
5359/5359 [==============================] - 1s 100us/step - loss: 0.3331 - acc: 0.8638 - val_loss: 0.3597 - val_acc: 0.8440
Epoch 76/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3327 - acc: 0.8643 - val_loss: 0.3584 - val_acc: 0.8527
Epoch 77/100
5359/5359 [==============================] - 1s 100us/step - loss: 0.3318 - acc: 0.8656 - val_loss: 0.3582 - val_acc: 0.8459
Epoch 78/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3315 - acc: 0.8666 - val_loss: 0.3580 - val_acc: 0.8535
Epoch 79/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3313 - acc: 0.8662 - val_loss: 0.3588 - val_acc: 0.8523
Epoch 80/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3313 - acc: 0.8643 - val_loss: 0.3585 - val_acc: 0.8497
Epoch 81/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3308 - acc: 0.8640 - val_loss: 0.3596 - val_acc: 0.8538
Epoch 82/100
5359/5359 [==============================] - 1s 98us/step - loss: 0.3309 - acc: 0.8649 - val_loss: 0.3572 - val_acc: 0.8565
Epoch 83/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3295 - acc: 0.8664 - val_loss: 0.3564 - val_acc: 0.8554
Epoch 84/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3307 - acc: 0.8662 - val_loss: 0.3573 - val_acc: 0.8535
Epoch 85/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3298 - acc: 0.8653 - val_loss: 0.3576 - val_acc: 0.8520
Epoch 86/100
5359/5359 [==============================] - 1s 98us/step - loss: 0.3304 - acc: 0.8625 - val_loss: 0.3563 - val_acc: 0.8538
Epoch 87/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3296 - acc: 0.8660 - val_loss: 0.3560 - val_acc: 0.8542
Epoch 88/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3296 - acc: 0.8666 - val_loss: 0.3585 - val_acc: 0.8550
Epoch 89/100
5359/5359 [==============================] - 1s 101us/step - loss: 0.3300 - acc: 0.8651 - val_loss: 0.3559 - val_acc: 0.8554
Epoch 90/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3298 - acc: 0.8649 - val_loss: 0.3558 - val_acc: 0.8565
Epoch 91/100
5359/5359 [==============================] - 1s 103us/step - loss: 0.3301 - acc: 0.8640 - val_loss: 0.3573 - val_acc: 0.8573
Epoch 92/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3297 - acc: 0.8655 - val_loss: 0.3557 - val_acc: 0.8573
Epoch 93/100
5359/5359 [==============================] - 1s 95us/step - loss: 0.3295 - acc: 0.8679 - val_loss: 0.3551 - val_acc: 0.8573
Epoch 94/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3290 - acc: 0.8675 - val_loss: 0.3561 - val_acc: 0.8561
Epoch 95/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3288 - acc: 0.8658 - val_loss: 0.3562 - val_acc: 0.8546
Epoch 96/100
5359/5359 [==============================] - 1s 99us/step - loss: 0.3286 - acc: 0.8660 - val_loss: 0.3571 - val_acc: 0.8561
Epoch 97/100
5359/5359 [==============================] - 1s 104us/step - loss: 0.3293 - acc: 0.8671 - val_loss: 0.3549 - val_acc: 0.8569
Epoch 98/100
5359/5359 [==============================] - 1s 100us/step - loss: 0.3290 - acc: 0.8673 - val_loss: 0.3558 - val_acc: 0.8550
Epoch 99/100
5359/5359 [==============================] - ETA: 0s - loss: 0.3286 - acc: 0.865 - 1s 100us/step - loss: 0.3282 - acc: 0.8664 - val_loss: 0.3592 - val_acc: 0.8573
Epoch 100/100
5359/5359 [==============================] - 1s 102us/step - loss: 0.3300 - acc: 0.8649 - val_loss: 0.3568 - val_acc: 0.8538

In [16]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [17]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1503   92]
 [ 192  213]]

In [18]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
print(score)

0.858